{% if breadcrumbs %}
<nav aria-label="Fil d'Ariane">
  <ol class="crumbs">
    <li><a href="/">Accueil</a></li>
    {% for b in breadcrumbs %}
    {% if b.url and not loop.last %}
    <li><a href="{{ b.url }}">{{ b.name }}</a></li>
    {% else %}
    <li aria-current="page">{{ b.name }}</li>
    {% endif %}
    {% endfor %}
  </ol>
</nav>
{% endif %}
