---
permalink: "/site.webmanifest"
eleventyExcludeFromCollections: true
---
{
  "name": "Event'Light",
  "short_name": "Event'Light",
  "description": "Son, lumière et vidéo mapping à Amiens",
  "start_url": "/",
  "display": "browser",
  "background_color": "#d4d7d9",
  "theme_color": "#d4d7d9",
  "lang": "fr",
  "icons": [
    { "src": "/assets/logo/icon-192.png", "sizes": "192x192", "type": "image/png" },
    { "src": "/assets/logo/icon-512.png", "sizes": "512x512", "type": "image/png" }
  ]
}
